/*
Here I can define CSS RULES to ALL the routes in the entire application
This can be imported by any component but its best to add it to the top-level
component = layout.tsx in app folder
*/
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap'); /* Ensure Lusitana is imported */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/*
These let me write utility classes for CSS in my TSX markup.
Done using classnames
*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h2 {
    @apply text-2xl;
  }
  .slider-container {
    width: 100%; /* Ensure the slider takes full width */
    /*max-width: 50%; !* Optional: Limit the max width *!*/
    margin: 0 auto; /* Center the slider */
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow to prevent scrolling issues */
  }
  .slider-container img {
    transform: scale(0.8);
    border-radius: 25% 10%;
  }
}
